:root{
    --gameboard-square-dimension:30rem;
    --gamegrid-square-dimension: calc(var(--gameboard-square-dimension)/10);
}

main{
    display: flex;
    justify-content: space-around;
}

.gameBoard{
    height: var(--gameboard-square-dimension);
    width: var(--gameboard-square-dimension);
    background-color: cadetblue;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.gamegrid{
    background-color: white;
    margin: 1px;
}

/* .gamegrid:hover{
    background-color: azure;
} */

#shipPlacers{
    display: flex;
    margin: 5rem 5rem;
}

.shipPlacersInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 2rem;
}

.shipinnerblock{
    height: var(--gamegrid-square-dimension);
    width: var(--gamegrid-square-dimension);
    background-color: yellow;
    /* margin: 1px; */
    border: 1px solid black;
}

.shipouterblock {
  display: flex;
}

.shipouterblock[data-orientation="v"] {
  flex-direction: column;
}

.shipouterblock[data-orientation="h"] {
  flex-direction: row;
}

/* GRID MODES */

.gridModeShip{
    background-color: burlywood;
}

.gridModeHit{
    background-color: red;
    pointer-events: none;
    opacity: 0.5;
}

.gridModeDisabled{
    background-color: gray;
    pointer-events: none;
    /* opacity: 0.5; */
}